<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
   
  </head> 
  <body>
    <div class="container">
      <div class="row"> 
        <div class="col-md-6">
          <div id="noticias">
            HOLa mundo
          </div>
        </div>
        <div class="col-md-6">
          <div id="seleccionadas">
             <div id="dias"></div>
             <div id="noticias_escogidas"></div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </body>
</html>
